.leaflet-div-icon{
    fill:rgb(102, 162, 205);
    color:rgb(102, 162, 205);
}

.icon-my-location
{
    width: 30px;
    height: 30px;
}
.icon-text{
    fill:#f6b985
}

.icon-my-location{
    fill:#b2c5cc
}

.icon-with-media{
    fill:#F8E709;
}