.header{
    margin: 10px;
    font-family: 'Assistant',bold, sans-serif;

}



.button{
    font-family: 'Assistant',bold, sans-serif;
    margin: 10px;
    background-color: var(--primary-color);
    -webkit-text-fill-color: white;
    float: left;
}
.options-divider{
    margin: 70px 0 70px 0;
}

.inputFile {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputFile + label {
    color: white;
    background-color: var(--primary-color);
    /*display: inline-block;*/
    padding: 7px 14px;
    border-radius: 0.5rem;
}

.inputFile + label:hover {
    background-color: rgba(181, 199, 214, 0.6);
}
.inputFile + label {
    cursor: pointer; /* "hand" cursor */
}