@import '~antd/es/slider/style/index.css';

:root{
  --primary-color: rgb(45, 143, 199);
}

.App{
  height:100%;
}
.brandLogo{
  font-family: StoryFont, serif;
  color: black;
  font-size: 40px;
  text-underline-color: var(--primary-color);
  text-underline: var(--primary-color);
  text-decoration-color: var(--primary-color);
  margin-left: 10px;
}
.navItem{
  -webkit-text-fill-color: var(--primary-color);
  font-family: 'Assistant', bold, sans-serif;
}

.rs-nav-item>.rs-nav-item-content{
  font-size: 16px;
}
@font-face {
  font-family: StoryFont;
  src: url('./components/StoryToGoMap/fonts/Lovelo Line Light.otf');
}

.modal{
  z-index: 10;
  width: 800px;
  height: 650px;
  margin: auto;
}

.yearSlider{
  width: 100%;
  color:var(--primary-color);
}
.ant-slider:hover .ant-slider-track{
  background-color: rgba(45, 143, 199, 0.43); /* var(--primary-color)*/
}
.ant-slider-track{
  background-color: rgba(45, 143, 199, 0.71); /* var(--primary-color)*/

}

.ant-slider-handle{
  border: 10px var(--primary-color) ;
  background-color: var(--primary-color);
}
/*.ant-slider-handle ant-slider-handle-1{*/
/*  border-color: var(--primary-color);*/
/*}*/
/*.ant-slider{*/
/*  color:#2D8FC7;*/
/*}*/



/*.ant-slider-with-marks{*/
/*  margin: 400px;*/
/*  height: 100px;*/
/*}*/


/*.ant-slider-track>.ant-slider-track-1{*/
/*  background-color: #2D8FC7;*/
/*}*/

/*.ant-slider-track-1{*/
/*  background-color: #2D8FC7;*/
/*}*/
.sliderHandel{
  fill: #2D8FC7
}